# Python
__pycache__/
*.py[cod]
*$py.class

# Large files
NASA Battery Dataset.zip
battery-intelligence-platform/data/

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
.DS_Store
