.env
.venv
venv/
env/
pycache/
*.pyc
*.db
*.sqlite3
node_modules/
dist/
build/
webapp_logs/
NASA Battery Dataset.zip
battery-intelligence-platform/data/
.DS_Store

# Docker cache
.docker/
docker-compose.override.yml
